@import "tailwindcss";
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark: #131416;
}

:root {
}

* {
}

html {
  font-family: "Inter", sans-serif, Arial, Helvetica;
}

html.disable-transitions *,
html.disable-transitions {
  transition: none !important;
}
